html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #777;
    line-height: 1.6;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

div {
    background: white;
}

main {
    position: absolute;
    max-height: calc(100% - 140px);
    overflow-y: auto;
    width: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background: white;
}

button:not([type="submit"]) {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

li {
    word-wrap: break-word;
}

span {
    float: right;
    color: red;
    cursor: pointer;
}

input,
button,
select {
    width: 100%;
    color: #777;
}

@media only screen and (max-width: 700px) {
    main {
        width: calc(100% - 20%);
    }
}
