*,
*:before,
*:after {
    color: #424242;
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    font-family: sans-serif;
    overflow: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card {
    display: inline-block;
    width: 90vw;
    max-width: 400px;
    height: 70vh;
    max-height: 400px;
    background: white;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    transition: all 0.3s ease-in-out;
    cursor: grab;
    padding: 20px;
}

.card * {
    pointer-events: none;
}

.moving.card {
    transition: none;
    cursor: grabbing;
}

.sebastian {
    display: none;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding-top: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.sebastian li {
    margin: 10px;
}

.sebastian button {
    position: absolute;
    right: 0;
}

.yay_or_nay {
    z-index: 10000;
    position: absolute;
    bottom: 0;
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

.blabla {
    z-index: 100000;
    position: absolute;
    top: 0;
    right: 0;
    flex: 0 0 100px;
    text-align: right;
    padding-top: 20px;
    width: 100%;
}

.fab button {
    z-index: 100000;
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: white;
    display: inline-block;
    margin: 20px;
}

.fab button:focus {
    outline: 0;
}

.fab img {
    z-index: 100000;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .fab button {
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .fab button {
        width: 50px;
        height: 50px;
        line-height: 30px;
    }
}
